@model XCalibre.Models.Ticket
@using XCalibre.Models;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (User.IsInRole("Admin"))
        {
            <dt>Assigned To</dt>
            <dd>@Html.DisplayFor(model => model.AssignedToUser.FullName)</dd>
        }
        @if (User.IsInRole("ProjectManager"))
        {
            <dt>Assigned To</dt>
            <dd>@Html.DisplayFor(model => model.AssignedToUser.FullName)</dd>
        }

        <dt>@Html.DisplayNameFor(model => model.OwnerUser.FullName)</dt>
        <dd>@Html.DisplayFor(model => model.OwnerUser.FullName)</dd>
        <dt>@Html.DisplayNameFor(model => model.Project.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Project.Name)</dd>
        @if (User.IsInRole("Admin"))
        {
            <dt>Priority</dt>
            <dd>@Html.DisplayFor(model => model.TicketPriority.Name)</dd>
            <dt>Status</dt>
            <dd>@Html.DisplayFor(model => model.TicketStatus.Name)</dd>
        }
        @if (User.IsInRole("ProjectManager"))
        {
            <dt>Priority</dt>
            <dd>@Html.DisplayFor(model => model.TicketPriority.Name)</dd>
            <dt>Status</dt>
            <dd>@Html.DisplayFor(model => model.TicketStatus.Name)</dd>
        }
        @if (User.IsInRole("Developer"))
        {
            <dt>Priority</dt>
            <dd>@Html.DisplayFor(model => model.TicketPriority.Name)</dd>
            <dt>Status</dt>
            <dd>@Html.DisplayFor(model => model.TicketStatus.Name)</dd>
        }

        <dt>Type</dt>
        <dd>@Html.DisplayFor(model => model.TicketType.Name)</dd>
        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>
        <dt>@Html.DisplayNameFor(model => model.Body)</dt>
        <dd>@Html.DisplayFor(model => model.Body)</dd>
        <dt>@Html.DisplayNameFor(model => model.Created)</dt>
        <dd>@Html.DisplayFor(model => model.Created)</dd>
        <dt>@Html.DisplayNameFor(model => model.Updated)</dt>
        <dd>@Html.DisplayFor(model => model.Updated)</dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin, ProjectManager"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Comment", "Create", "TicketComments", new { TicketId = Model.Id }, null)
</p>
<div>
    @*@Html.Partial("_CommPart", new TicketComment() { TicketId = Model.Id })*@
    <ul>
        @foreach (var comm in Model.Comments)
        {
            <li>
                <div>
                    <p>
                        <h5>@comm.User.FullName <span> on @comm.Created</span></h5>
                    </p>
                    <p>
                        @comm.Body
                    </p>
                </div>
            </li>
        }

    </ul>
</div>
