@model IEnumerable<XCalibre.Models.TicketHistory>
@using XCalibre.Models;


@{
    ViewBag.Title = "Histories";
}



<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title">Histories</h4>
            <p class="text-muted font-14 m-b-30">
                All Ticket Histories
            </p>
            <table id="AllTickets" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Ticket</th>
                        <th>Name</th>
                        <th>Field</th>
                        <th>Old value</th>
                        <th>New Value</th>
                        <th>Date Changed</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Ticket.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.User.FullName)</td>
                            <td>
                                @if (item.Property == "TicketPriorityId")
                                {@Html.Display("Ticket Priority")}
                                @if (item.Property == "TicketStatusId")
                                {@Html.Display("Ticket Priority")}
                                @if (item.Property == "TicketTypeId")
                                {@Html.Display("Ticket Type")}
                                else
                                {

                                @Html.DisplayFor(modelItem => item.Property)
                                }
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.OldValue)</td>
                            <td> @Html.DisplayFor(modelItem => item.NewValue)</td>
                            <td>@item.Changed.ToString("MMM dd yyyy")</td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>