
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XCalibre BugTracker</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">


    <!-- Plugins css-->
    <link href="~/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/assets/plugins/custombox/css/custombox.min.css" rel="stylesheet">


    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style_dark.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/LandingCss/style.css" rel="stylesheet" />


    <script src="~/assets/js/modernizr.min.js"></script>

</head>
<body>
    <section id="landingpage">
        <div class="overlayland">
            <div class="text-center">
                <div class="land-text">
                    <h1>
                        XCalibre BugTracker
                    </h1>
                    <br />
                    <br />
                   
                    <h2>
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-secondary" })
                        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
                        <br />
                        @Html.ActionLink("Login As Guest Admin", "GuestLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl, type = "Admin" }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Login As Guest Project Manager", "GuestLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl, type = "ProjectManager" }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Login As Guest Developer", "GuestLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl, type = "Developer" }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Login As Guest Submitter", "GuestLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl, type = "Submitter" }, new { @class = "btn btn-custom" })

                    </h2>
                </div>
            </div>
        </div>
    </section>

    <!--=======================================
                   Script
    ==========================================-->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/metisMenu.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>

    <!-- KNOB JS -->
    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>

    <!-- Buttons examples -->
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <script src="~/assets/plugins/custombox/js/custombox.min.js"></script>
    <script src="~/assets/plugins/custombox/js/legacy.min.js"></script>
</body>
</html>

